
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Theme Region">
  <meta name="description" content="">

  <title>Jobs | Job Portal </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/bootstrap.min.css">
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/font-awesome.min.css">
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/icofont.css">
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/slidr.css">
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/main.css">
  <link id="preset" rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/presets/preset1.css">
  <link rel="stylesheet" href="/theme/Frontend/demo.themeregion.com/jobs-updated/css/responsive.css">

  <!-- font -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- icons -->
  <link rel="icon" href="images/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="/theme/Frontend/demo.themeregion.com/jobs-updated/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/theme/Frontend/demo.themeregion.com/jobs-updated/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/theme/Frontend/demo.themeregion.com/jobs-updated/images/ico/apple-touch-icon-72-precomposed.html">
  <link rel="apple-touch-icon" sizes="57x57" href="/theme/Frontend/demo.themeregion.com/jobs-updated/images/ico/apple-touch-icon-57-precomposed.png">
  <!-- icons -->

</head>

<body>
  <!-- header -->
  <header id="header" class="clearfix">
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- navbar-header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="img-responsive" src="/theme/Frontend/demo.themeregion.com/jobs-updated/images/logo.png" alt="Logo"></a>
        </div>
        <!-- /navbar-header -->

        <div class="navbar-left">
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div>
        </div><!-- navbar-left -->

        <!-- nav-right -->
        <div class="nav-right">
          <ul class="sign-in">
            <!-- <li><i class="fa fa-user"></i></li> -->
            <!-- <li><a href="signin.html">Sign In</a></li>
            <li><a href="signup.html">Register</a></li> -->
          </ul><!-- sign-in -->

          <!-- <a href="post.html" class="btn">Post Your Job</a> -->
        </div>
        <!-- nav-right -->
      </div><!-- container -->
    </nav><!-- navbar -->
  </header><!-- header -->

  <div class="banner-job">
    <div class="banner-overlay"></div>
    <div class="container text-center">
      <h1 class="title">The Easiest Way to Get Your New Job</h1>
      <h3>We offer 12000 jobs vacation right now</h3>
      <div class="banner-form">
        <form action="#">
          <input id="job" type="text" class="form-control" placeholder="Type your key word">
          <div class="dropdown category-dropdown">
              <input id="zip_code" type="text" class="form-control" placeholder="Zip Code">
          </div><!-- category-change -->
          <button id="getJob" type="button" class="btn btn-primary" value="Search">Search</button>
        </form>
      </div><!-- banner-form -->

    </div><!-- container -->
  </div><!-- banner-section -->

  

  <!-- footer -->
  <footer id="footer" class="clearfix">
    <!-- footer-top -->
    <section class="footer-top clearfix">
      <div class="container">
        <div class="row">
          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget">
              <h3>Quik Links</h3>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">All Cities</a></li>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Advertise With Us</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->

          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget">
              <h3>How to sell fast</h3>
              <ul>
                <li><a href="#">How to sell fast</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Banner Advertising</a></li>
                <li><a href="#">Promote your ad</a></li>
                <li><a href="#">Jobs Delivers</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->

          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget social-widget">
              <h3>Follow us on</h3>
              <ul>
                <li><a href="#"><i class="fa fa-facebook-official"></i>Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i>Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i>Google+</a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i>youtube</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->

          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget news-letter">
              <h3>Newsletter</h3>
              <p>Jobs is Worldest leading Portal platform that brings!</p>
              <!-- form -->
              <form action="#">
                <input type="email" class="form-control" placeholder="Your email id">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form><!-- form -->
            </div>
          </div><!-- footer-widget -->
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- footer-top -->

    <div class="footer-bottom clearfix text-center">
      <div class="container">
        <p>Copyright &copy; <a href="#">Jobs</a> 2018. Developed by <a href="#">iSoft Technologies</a></p>
      </div>
    </div><!-- footer-bottom -->
  </footer><!-- footer -->

  <!--/Preset Style Chooser-->

  <!--/End:Preset Style Chooser-->

  <!-- JS -->
  <script src="/theme/Frontend/demo.themeregion.com/jobs-updated/js/jquery.min.js"></script>
  <script src="/theme/Frontend/demo.themeregion.com/jobs-updated/js/bootstrap.min.js"></script>
  <script src="/theme/Frontend/demo.themeregion.com/jobs-updated/js/price-range.js"></script>
  <script src="/theme/Frontend/demo.themeregion.com/jobs-updated/js/main.js"></script>
  <script src="/theme/Frontend/demo.themeregion.com/jobs-updated/js/switcher.js"></script>
  
  <script type="text/javascript">

    
$("#getJob").click(function(){

var job_type = $('#job').val();
var zip = $('#zip_code').val();
if(job_type == '' && zip == ''){
  alert('Please correct the following : \n \n * Job Title \n * Zip Code (5 digits)');
  return false;
}
if(job_type == ''){
  alert('correct the follwing \n \n *Job Tiltle');
    return false;
}
if(zip <= 0){
  alert('correct the follwing \n \n * Zip code (5 digits)');
    return false;
}
if(zip >0 && zip.length != 5){
  alert('correct the follwing \n \n * Zip code (5 digits) only');
    return false;
}
debugger;
window.location.href = "jobList/?zip="+zip+"&job_type="+job_type;

    });

  </script>
</body>

</html>